<title>IntEnzyDB Database</title>
<body>
<div class="textBox">
<div class="menu">
            <a href="/kinetics/list">Kinetics Data</a>
            <a href="/kinetics/structure">Structure Data</a>
            <a href="/kinetics/reference">Kinetics-Structure Reference</a>
            <a href="/search">Search</a>
            <a href="/statistics">Statistics</a>
            <a href="/access">Database Access</a>
</div>
<br>
{{#if data}}
<div style="max-width: 100%; height:600px; overflow: auto;">
    <table>
      <thead>
<tr>
    <th>Id</th>
    <th>ec_number</th>
    <th>uniprot</th>
    <th>organism</th>
    <th>substrate_kinetics </th>
    <th>temperature </th>
    <th>clean_mut_wt</th>
    <th>ddG </th>

</tr>
 </thead>
      <tbody>
{{#each data}}
<tr>
    <td>{{this._id}}</td>
    <td>{{this.ec_number}}</td>
    <td>{{this.uniprot}}</td>
    <td>{{this.organism}}</td>
    <td>{{this.substrate_kinetics}}</td>
    <td>{{this.temperature}}</td>
    <td>{{this.clean_mut_wt }}</td>
    <td>{{this.ddG}}</td>
</tr>
{{/each}}
 </tbody>
    </table>
  </div>
{{else}}
<br>
<br>
<h4>No documents found<h4>
{{/if}}
</div>
</body>
