<title>IntEnzyDB Reference Database</title>
<body>
<div class="textBox">
<div class="menu">
            <a href="/kinetics/list">Kinetics Data</a>
            <a href="/kinetics/structure">Structure Data</a>
            <a href="/kinetics/reference">Kinetics-Structure Reference</a>
            <a href="/search">Search</a>
            <a href="/statistics">Statistics</a>
            <a href="/access">Database Access</a>
</div>
<br>
{{#if data}}
<div style="max-width: 100%; height:600px; overflow: auto;">
    <table>
      <thead>
<tr>
    <th>PDB ID</th>
    <th>uniprot</th>
    <th>chainID</th>
    <th>Active Site</th>
    <th>chain_n_res</th>
    <th>Resolution</th>
    <th>Resolution_n</th>
    <th>reso_filter</th>
    <th>pdb_chain</th>
    <th>auth_as</th>
    <th>ec_number</th>


</tr>
 </thead>
      <tbody>
{{#each data}}
<tr>
    <td><a href ={{this.PDB_website}}>{{this.PDB_ID}}</a></td>
    <td><a href ={{this.uniprot_webstie}}>{{this.uniprot}}</a></td>
    <td>{{this.chainID}}</td>
    <td>{{this.Active_Site}}</td>
    <td>{{this.chain_n_res}}</td>
    <td>{{this.Resolution}}</td>
    <td>{{this.Resolution_n}}</td>
    <td>{{this.reso_filter}}</td>
    <td>{{this.pdb_chain}}</td>
    <td>{{this.auth_as}}</td>
    <td>{{this.ec_number}}</td>


</tr>
{{/each}}
 </tbody>
    </table>
  </div>
{{else}}
<br>
<br>
<h4>No documents found<h4>
{{/if}}
</div>
</body>
